<!-- <ul>
    <li>primer items</li>
    <li>segundo itemn</li>
    <li>mi tercer componente</li>
</ul>
<a href="https://www.facebook.com/" target="_black">link</a> -->



<!-- <section class=" section">

    <h2>mi titulo</h2>
    <span> mi subtitulo</span>

</section>

<section class="section">

    <h2 class="section__title">mi titulo</h2>
    <span class="section__subtitle"> mi subtitulo</span>

</section>

<section class="section">

    <h2>mi titulo</h2>
    <span> mi subtitulo</span>

</section> -->

<app-header></app-header>